html {
	font-family: "Lucida Sans", sans-serif;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin: 0%;
}

* {
	box-sizing: border-box;
}

input[name="editinput"] {
	width: 70%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.edittaskbtn {
	background-color: rgb(157, 238, 160);
	border: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 6px;
}

.taskbtn {
	width: 4%;
	float: right;
	background-color: rgb(159, 238, 161);
	border: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 6px;
}

.rbtn {
	width: 2%;
	float: right;
	height: fit-content;
	max-height: fit-content;
	box-sizing: border-box;
	background-color: azure;
	border: none;
	color: rgb(236, 12, 12);
	font-weight: bold;
	text-align: center;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	font-size: 20px;
}

.ebtn {
	width: 2%;
	float: right;
	height: fit-content;
	max-height: fit-content;
	box-sizing: border-box;
	background-color: azure;
	border: none;
	color: black;
	font-weight: bold;
	text-align: center;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	font-size: 15px;
}

.dbtn {
	width: 2%;
	float: right;
	height: fit-content;
	max-height: fit-content;
	box-sizing: border-box;
	background-color: azure;
	border: none;
	color: rgb(68, 207, 63);
	font-weight: bold;
	text-align: center;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	font-size: 15px;
}

.ubtn {
	width: 2%;
	height: fit-content;
	max-height: fit-content;
	box-sizing: border-box;
	background-color: azure;
	border: none;
	color: rgb(8, 75, 5);
	font-weight: bold;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
	font-size: 15px;
}

.tasktitle {
	width: 70%;
	box-sizing: border-box;
	display: block;
	overflow-wrap: break-word;
	float: left;
	padding-top: 0px;
}

.li {
	box-sizing: border-box;
	list-style-type: none;
	width: 90%;
}

.todolist {
	width: 90%;
	height: 55%;
	box-sizing: border-box;
	overflow-y: scroll;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 600px) {
	span.psw {
		display: block;
		float: none;
	}
	.taskbtn .edittaskbtn {
		color: black;
	}
}

/* Track */
.todolist::-webkit-scrollbar-track {
	box-shadow: inset 0 0 1px rgb(94, 156, 238);
	border-radius: 10px;
}

/* Handle */
.todolist::-webkit-scrollbar-thumb {
	background: rgb(181, 226, 238);
	border-radius: 10px;
}

/* Handle on hover */
.todolist::-webkit-scrollbar-thumb:hover {
	background: #4260b3;
}
.todolist::-webkit-scrollbar {
	width: 20px;
}
